apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: devfile-sample-tsxx
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devfile-sample-tsxx
    app.kubernetes.io/part-of: devfile-sample
  name: devfile-sample-tsxx
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: nodejs-app
      app.kubernetes.io/instance: devfile-sample-tsxx
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nodejs-app
        app.kubernetes.io/instance: devfile-sample-tsxx
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/rorai-tenant/devfile-sample/devfile-sample-tsxx@sha256:5855a923956774af14a909ebf96b73284eae8ddbaade4e0aa58a97d0749f6d8d
        name: my-nodejs
        ports:
        - containerPort: 3001
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 100m
            memory: 100Mi
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
